<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="/static/css/styles.css" rel="stylesheet">
    <title>Add Librarian</title>
  </head>
  <body>
    <div class="container">
      <h1 class='title'>Add librarian</h1>
      <form class="" action="/admin/added" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="handle" class="logn" value="">
        <br>
        <label for="emailid">Email ID:</label>
        <input type="email" id="emailid" name="id" class="logn" value="">
        <br>
        <label for="pass">Password:</label>
        <input type="password" name="pass" class="logn" value="">
        <br>
        <input type="Submit" class="btn" value="Add">
      </form>
    </div>

  </body>
</html>
