<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Student</title>
    <link href="/static/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1 class="title">Add Student</h1>
      <form class="" action="/librarian/added" method="post">
        <label for="name">Name:</label>
        <input type="text" name="handle" id='name' class="logn" value="">
        <br>
        <label for="emailid">Email ID:</label>
        <input type="email" name="id" id="emailid" class="logn" value="">
        <br>
        <label for="roll">Roll No:</label>
        <input type="text" name="roll" id="roll" class='logn' value="">
        <br>
        <input type="Submit" class="btn" value="Add">
      </form>
    </div>

  </body>
</html>
