<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Delete Librarian</title>
    <link href="/static/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1 class='title'>Delete librarian</h1>
      <form class="" action="/admin/deleted" method="post">
        <label for="emailid">Email ID:</label>
        <input type="email" id="emailid" name="email" class="logn" value="">
        <br>
        <input type="Submit" class="btn" value="Delete">
      </form>
    </div>
  </body>
</html>
