<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Issue Book</title>
    <link href="/static/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1 class='title'>Return Book</h1>
      <form class="" action="/librarian/returned" method="post">
        <label for="name">Roll no. of Student:</label>
        <input type="text" id="name" name="roll" class="logn" value="">
        <br>
        <label for="author">Name of book</label>
        <input type="text" id="author" name="name" class="logn" value="">
        <br>
        <input type="Submit" class="btn" value="Return Book">
      </form>
    </div>
  </body>
</html>
